@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

body {
    background: var(--Light-gray);
    display: flex;
    min-width: 375px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: auto;
}

.card {
    background-color: var(--White);
    width: 320px;
    height: 500px;
    margin: auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.QR {
    width: 290px;
    border-radius: 1rem;
    align-self: center;
}

.title {
    color: var(--Dark-blue);
    text-align: center;
    font-weight: 700;
}

.paragraph {
    color: var(--Grayish-blue);
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}